.right-menu{
    position:absolute;
    width: 320px;
    height: 100%;
    top:0px;
    right:0px;
    border-image-source: url('../../public/img/system/right_menu.png');
    border-image-slice: 64 fill;
    border-image-width: 64px;
    border-image-repeat: round;
}

.right-menu-wrapper{
    padding: 32px 8px 32px 32px;
    width: 100%;
    height: 100%;
}

.right-menu-select{
    position:absolute;
    top: 64px;
    left: -32px;
    width: 48px;
    height: 128px;
}


.right-menu-select-frame {
    background: url('../../public/img/system/tab.png');
    display: inline-block;
    height: 64px;
    width: 48px;
}
.right-menu-select-frame.selected{
    background-position: -48px 0px;
}

.right-menu-select-item {
    background: url('../../public/img/system/menu_icon.png');
    display: inline-block;
    height: 32px;
    width: 32px;
    margin: 16px 8px;
}
.right-menu-select-frame.selected .right-menu-select-item{
    background-position-y: -32px;
}

.right-menu-select-item-food {
    background-position: -32px 0px;
}
.right-menu-select-item-item {
    background-position: -64px 0px;
}
.right-menu-select-item-goods {
    background-position: -96px 0px;
}


.right-menu-title {
    text-align: center;
}
.right-menu-title span{
    display: inline-block;
    font-size: 18px;
    color: rgb(255, 244, 222);
    margin-bottom: 8px; 
    border-image-source: url('../../public/img/system/sign.png');
    border-image-slice: 12 24 fill;
    border-image-width: 12px 24px;
    border-image-repeat: round;
    height: 36px;
    padding: 0 16px ;
}

.right-menu-content {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}


/* farm */

.pickaxe-container {
    display: inline-block;
    height: 128px;
    width: 88px;
}

@keyframes mining {
    0%   { transform: translate(4px, 4px) rotate(-5deg); }
    70% { transform: translate(0px, -12px) rotate(15deg); }
    100%   { transform: translate(4px, 4px) rotate(-5deg); }
}

.pickaxe {
    background: url('../../public/img/others/tools.png');
    display: inline-block;
    height: 64px;
    width: 64px;
    transform-origin: right bottom;
}
.pickaxe:hover {
    transform: translate(0, -4px);
}

.pickaxe.mining {
    animation: mining 0.3s linear infinite;
}

.item-sell {
    background: url('../../public/img/system/sell.png');
    display: inline-block;
    height: 18px;
    width: 24px;
}

.item-sell.sellable{
    background-position: -24px 0px;
}

.crop {
    background: url('../../public/img/others/crops.png');
    height: 64px;
    width: 64px;
    display: inline-block;
}

.crop-counter {
    display: inline-block;
    vertical-align: top;
}

.crop-counter-control {
    display: block;
    height: 16px;
    width: 32px;
    position: relative;
}
.crop-counter-control span{
    display: inline-block;
    height: 16px;
    width: 16px;
}

.crop-lot {
    height: 64px;
    vertical-align: top;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.crop-lot-item{
    background: url('../../public/img/others/crops_grow.png');
    display: inline-block;
    height: 16px;
    width: 16px;
    box-sizing: border-box;
}

.crop-lot-item.red-stone{
    border-bottom: 1px solid red;
}


/* food */
.food-list-item-image {
    background: url('../../public/img/others/food.png');
    height: 64px;
    width: 64px;
    box-sizing: border-box;
    display: inline-block;
}
.food-list-item-stock {
    display: inline-block;
}

/* item */

.item-frame-container {
    display: flex;
    flex-wrap: wrap;
}

.item-frame {
    position: relative;
    background: url('../../public/img/system/item_frame.png');
    height: 48px;
    width: 48px;
    margin: 0px 4px 8px 0px;
}

.item-image {
    background: url('../../public/img/others/items.png');
    height: 32px;
    width: 32px;
    margin: 8px;
    box-sizing: border-box;
    filter: drop-shadow(1px 1px 0 black);
}
.item-image.item-image-items{
    background: url('../../public/img/others/items.png');
}
.item-image.item-image-crops{
    background: url('../../public/img/others/crops32.png');
}
.item-image.item-image-ores{
    background: url('../../public/img/others/ores.png');
}


.item-image-stock {
    position: absolute;
    right: 0;
    bottom: 0;
}

/* goods */

.goods-list {
    width: 100%;
    height: calc(100% - 192px);
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: scroll;
    border: 2px solid wheat;
    border-radius: 2px;
    background-color: rgba(146, 129, 118, 0.5);
}

.goods-list-item {
    width: 128px;
    height: 128px;
    font-size: 12px;
    text-align: center;
    border: 2px solid wheat;
    background-color: rgba(200, 200, 200, 0.5);
    margin: 8px 4px;
}

.goods-list-item p{
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.goods-list-image {
    width: 64px;
    height: 64px;
    margin: 8px 32px ;
    background: url('../../public/img/system/dummy64.png');
}

.locked .goods-list-image {
    opacity: 0.5;
}