.right-menu{
    position:absolute;
    width: 320px;
    height: 100%;
    top:0px;
    right:0px;
    border-image-source: url('../../public/img/system/right_menu.png');
    border-image-slice: 64 fill;
    border-image-width: 64px;
    border-image-repeat: round;
}

.right-menu-wrapper{
    padding: 32px 8px 32px 32px;
    width: 100%;
    height: 100%;
}

.right-menu-select{
    position:absolute;
    top: 64px;
    left: -32px;
    width: 48px;
    height: 128px;
}


.right-menu-select-frame {
    background: url('../../public/img/system/tab.png');
    display: inline-block;
    height: 64px;
    width: 48px;
}
.right-menu-select-frame.selected{
    background-position: -48px 0px;
}

.right-menu-select-item {
    background: url('../../public/img/system/menu_icon.png');
    display: inline-block;
    height: 32px;
    width: 32px;
    margin: 16px 8px;
}
.right-menu-select-frame.selected .right-menu-select-item{
    background-position-y: -32px;
}

.right-menu-select-item-food {
    background-position: -32px 0px;
}
.right-menu-select-item-item {
    background-position: -64px 0px;
}
.right-menu-select-item-goods {
    background-position: -96px 0px;
}
.right-menu-select-item-setting{
    background-position: -128px 0px;
}


.right-menu-title {
    text-align: center;
}
.right-menu-title span{
    display: inline-block;
    font-size: 18px;
    color: rgb(255, 244, 222);
    margin-bottom: 8px; 
    border-image-source: url('../../public/img/system/sign.png');
    border-image-slice: 12 24 fill;
    border-image-width: 12px 24px;
    border-image-repeat: round;
    height: 36px;
    padding: 0 16px ;
}

.right-menu-content {
    width: 100%;
    height: 100%;
    overflow: auto;
}
.right-menu-content .simplebar-scrollbar::before{
    background-color: rgb(146, 129, 118);
}

/* food */
.food-list-item{
    height: 80px;
    width: 256px;
    border-image-source: url('../../public/img/system/item_frame_bg.png');
    border-image-slice: 32 fill;
    border-image-width: 32px;
    border-image-repeat: repeat;
    margin: 2px 4px;
    position: relative;
}
.food-list-item.selected{
    border-image-source: url('../../public/img/system/item_frame_bg_selected.png');
}

.food-list-item-image {
    background: url('../../public/img/others/food.png');
    height: 64px;
    width: 64px;
    box-sizing: border-box;
    position: relative;
    margin: 0px 8px;
    display: inline-block;
    filter: drop-shadow(1px 1px 0 black);
}
.food-list-item-stock {
    display: inline-block;
    position: absolute;
    bottom: 8px;
    right: 176px;
}
.food-info {
    display: inline-block;
    height: 64px;
    width: 160px;
    position: relative;
}
.food-info-title{
    font-size: 14px;
}
.food-info-desc{
    font-size: 12px;
}

/* item */

.item-frame-container {
    display: flex;
    flex-wrap: wrap;
}

.item-frame {
    position: relative;
    background: url('../../public/img/system/item_frame.png');
    height: 64px;
    width: 64px;
    border-image-source: url('../../public/img/system/item_frame_bg.png');
    border-image-slice: 32 fill;
    border-image-width: 32px;
    border-image-repeat: round;
    margin: 0px 4px 8px 0px;
    text-align: center;
}

.item-image {
    background: url('../../public/img/others/items48.png');
    height: 48px;
    width: 48px;

    box-sizing: border-box;
    display: inline-block;
    filter: drop-shadow(1px 1px 0 black);
}
.item-image-stock {
    position: absolute;
    right: 8px;
    bottom: 8px;
    display: block;
}
.item-image-craft {
    position: absolute;
    font-size: 16px;
    line-height: 12px;
    right: 8px;
    top: 0;
    height: 16px;
    width: 16px;
    display: block;
}

/* goods */
.goods-list-item {
    width: 128px;
    height: 128px;
    font-size: 12px;
    text-align: center;
    border-image-source: url('../../public/img/system/item_frame_bg.png');
    border-image-slice: 32 fill;
    border-image-width: 32px;
    border-image-repeat: round;
    margin: 4px 4px;
}
.goods-list-item.selected{
    border-image-source: url('../../public/img/system/item_frame_bg_selected.png');
}

.goods-list-item p{
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.goods-list-image {
    width: 64px;
    height: 64px;
    margin: 8px 32px 0 32px;
    background: url('../../public/img/system/dummy64.png');
}

.locked .goods-list-image ,.locked-ready .goods-list-image{
    width: 32px;
    height: 32px;
    margin: 16px 48px 16px 48px;
    background: url('../../public/img/system/locked.png');
}


.craft-item-container{
    text-align: center;
    display: block;
}
.craft-item-frame{
    position: relative;
    display: inline-block;
    height: 32px;
    width: 32px;
}
.craft-item-image {
    background: url('../../public/img/others/items.png');
    height: 32px;
    width: 32px;

    box-sizing: border-box;
    display: inline-block;
    filter: drop-shadow(1px 1px 0 black);
}
.craft-item-image.item-image-items{
    background: url('../../public/img/others/items.png');
}
.craft-item-image.item-image-crops{
    background: url('../../public/img/others/crops32.png');
}
.craft-item-image.item-image-ores{
    background: url('../../public/img/others/ores.png');
}
.craft-item-image-stock{
    position: absolute;
    display: block;
    right: 0px;
    bottom: 0;
}
.craft-item-image-craft {
    height: 24px;
    width: 24px;
    font-size: 24px;
    line-height: 24px;
    display: inline-block;
    vertical-align: top;
}


.craft-arrow{
    height: 32px;
    width: 24px;
    display: inline-block;
    background: url('../../public/img/system/arrow.png');
}
.craft-number{
    display: inline-block;
    font-size: 20px;
    line-height: 32px;
    vertical-align: top;
}